//Standar of btns

.btn-principal {
    background-color: $conversable-turquoise;
    border: none;
    color: #fff;
    padding: 1.5em 2.5em;

    &:hover {
        background-color: $conversable-turquoise-accent;
    }
}

.btn-secundary {
    background-color: $conversable-btn-secundary;

    &:hover {
        background-color: $conversable-btn-secundary-accent;
    }
}

.btn-size {
    padding: .6em;
}

.btn-over-color {
    background-color: #fff;
    color: $conversable-btn-secundary;

    &:hover {
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
    }
}