.btn-principal {
    background-color: $turquoise;
    border: none;
    color: #fff;
    padding: 1.5em 2.5em;

    &:hover {
        background-color: $turquoise-accent;
    }
}

.btn-secundary {
    background-color: #a5a5a5;

    &:hover {
        background-color: #d0cece;
    }
}

.btn--resize-small {
    padding: .6em;
}

.btn--color-white {
    background-color: #fff;
    color: #a5a5a5;

    &:hover {
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
    }
}