$font-family-base: 'Nunito', sans-serif;
$font-family-contrast: 'Montserrat', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;


//Colors

$conversable-salmon: #f5978d;
$conversable-turquoise: #21a295;
$conversable-turquoise-accent: #1e8478;
$conversable-violet: #a4377f;
$conversable-blue: #5f9fc0;
$conversable-violet-light: #bf639f;
$conversable-btn-secundary: #a5a5a5;
$conversable-btn-secundary-accent: #d0cece;