.blog-tag {
  background-color: #474747;
  color: #fff;
  font-size: 1.25rem;
  width: 20%;
  padding: $space-base/3 $space-large $space-base/3 $space-base/2;
}

.blog-subtitle {
  color: $turquoise;
  font-size: 1.5rem;
}

.blog-title {
  font-size: 3rem;
  margin: 0;
}

.blog-autor {
  font-weight: bold;
  color: #A5A5A5;
}

.blog-img {
  float: left;
  margin-right: 3rem;
  width: 20%;
}

.blog-articles {
  margin-bottom: 9rem;
  overflow: hidden;
}

.row-center {
  text-align: center;
}