.lastest-post {
  img {
    width: 77%;
    padding: 10px;
  }

  p {
    font-weight: initial;
    margin: 0;
  }
}

.lastest-post--grid {
	width: 48%; 
	float: left;
	margin: 5px;
	padding: 15px;
  background-color: $gray;

  a {
    border: none;
  }
}